<%= render 'layouts/header' %>

<h2 class="heading col-md-3 mt-3">ジャンル：喫煙所</h2>
<div class="row">
  <% @posts.each do |post| %>
    <div class="posts col-md-3">
      <div class="one-post">
        <%= link_to post_path(post.id) do %>
        
          <h3 class="title">
            <%= post.title %>
          </h3>
          
          <div class="image">
            <%= attachment_image_tag post, :image, format: 'jpeg', fallback: "noimage2.jpg", size:'240x160', class: "image" %>
          </div>
          
          <div class="name-favorite">
            <%= attachment_image_tag post.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size:'40x40', class: "profileimage-circle" %>
            <%= post.user.nickname %>/
            ♥<%= post.favorites.count %> いいね
          </div>
          
          <div class="created_at">
              投稿日：<%= post.created_at.strftime('%Y/%m/%d') %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @posts %>
<%= render 'layouts/footer' %>