<%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= render 'layouts/header' %>

  <h2 class="heading col-md-4 m-3">マイページ</h2>

  <div class="col-lg-3">
    <div class="profile-container">
     <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'100x100' %>

      <div class="user-info">
        <div class="user-name">
          <p>氏名</p>
          <h3><%= @user.name %></h3>
        </div>
        <div class="user-nickname">
          <p>ニックネーム（表示名)</p>
          <h3><%= @user.nickname %></h3>
        </div>
        <div class="user-email">
          <p>メールアドレス</p>
          <h3><%= @user.email %></h3>
        </div>
        <div class="user-edit-btn">
          <%= link_to edit_user_path(@user.id), class: 'btn btn-block btn btn-outline-secondary' do %><i class="fas fa-user-cog" aria-hidden="true"></i><% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-3 m-3">
        <div class="one-post">
          <%= link_to post_path(post.id) do %>
            <h3 class="title">
              <%= post.title %>
            </h3>
            <div class="image">
              <%= attachment_image_tag post, :image, format: 'jpeg', fallback: "noimage2.jpg", size:'240x160', class: "image" %>
            </div>
            <div class="opinion">
              <%= post.opinion %>
            </div>
            <div class="name-favorite">
              <%= post.user.nickname %>/
              ♥<%= post.favorites.count %> いいね
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<%= render 'layouts/footer' %>

