<%= stylesheet_link_tag 'homes', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= render 'layouts/header' %>
<div class="main-visual">
  <div class="main-visual-text">
    <p>あなたのぴったりな<br>
    パーキングエリア・サービスエリアを探す
    </p>
    <h1>pasa navi</h1>
  </div>
  <div id="box">
    <div id="images">
      <div class="image1"></div>
      <div class="image2"></div>
      <div class="image3"></div>
      <div class="image4"></div>
    </div>
  </div>
</div>
<div class="pasanavi_about">
  <div class="pasanavi_about-text">
    <h1>pasa naviとは？</h1>
    <p>パーキングエリア・サービスエリアの<br>
    評価やおすすめを共有するSNSです
    </p>
  </div>
  <div class="pasanavi_about-visual">
    
  </div>
</div>
  <div class="pasanavi_about-detail">
    <div class="genres">
      <div class="food">
        <div class="food-image"></div>
        <div class="food-text"><%= link_to "グルメ", gourmet_path %></div>
      </div>
      <div class="toilet">
        <div class="toilet-text"><%= link_to "トイレ", toilet_path %></div>
      </div>
      <div class="smoking">
        <div class="smoking-text"><%= link_to "喫煙所", smoking_path %></div>
      </div>
    </div>
  </div>



<%= render 'layouts/footer' %>