<%= stylesheet_link_tag 'homes', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= render 'layouts/header' %>

<div class="main-visual mt-5">
  <div class="main-visual-text">
    <p class="main-visual-text1">あなたのぴったりな<br>
    パーキングエリア・サービスエリアを探す
    </p>
    <p class="main-visual-text2">pasa navi</p>
  </div>
  
  <div id="box">
    <div id="images">
      <div class="image1"></div>
      <div class="image2"></div>
      <div class="image3"></div>
      <div class="image4"></div>
    </div>
  </div>
</div>

<div class="pasanavi_about">
  <div class="pasanavi_about-text">
    <p class="pasanavi-toha1">pasa naviとは？</p>
    <p class="pasanavi-toha2">パーキングエリア・サービスエリアの<br>
      評価やおすすめを共有するSNSです
    </p>
  </div>
  <div class="pasanavi_about-visual">
  </div>
</div>

<div class="pasanavi_about-detail">
  <div class="genres">
    <div class="food">
      <div class="genre-text"><i class="fas fa-utensils"></i><%= link_to "グルメ", gourmet_path %></div>
      <div class="food-image"></div>
    </div>
    <div class="toilet">
      <div class="genre-text"><i class="fas fa-toilet"></i><%= link_to "トイレ", toilet_path %></div>
      <div class="toilet-image"></div>
    </div>
    <div class="smoking">
      <div class="genre-text"><i class="fas fa-smoking"></i><%= link_to "喫煙所", smoking_path %></div>
      <div class="smoking-image"></div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>