  <%= stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/header' %>
  <h2 class="heading col-md-2 m-3">投稿一覧</h2>
  <div class="col-md-12">
    <h2 class="order-post-heading m-3">新着順</h2>
    <div class="row">
      <% @post.last(4).each do |post| %>
        <div class="posts col-md-3">
          <div class="one-post-new">
            <%= link_to post_path(post.id) do %>
              <h3 class="title">
                <%= post.title %>
              </h3>
              <div class="image">
                <%= attachment_image_tag post, :image, format: 'jpeg', fallback: "noimage2.jpg", size:'240x160', class: "image" %>
              </div>
              <div class="name-favorite">
                <%= post.user.nickname %>/
                ♥<%= post.favorites.count %> いいね
              </div>
              <div class="created_at">
                  投稿日：<%= post.created_at.strftime('%Y/%m/%d') %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    
    <h2 class="order-post-heading">人気順</h2>
    <div class="row">
      <% @posts.each do |post| %>
        <div class="posts col-md-3">
          <div class="one-post">
            <%= link_to post_path(post.id) do %>
              <h3 class="title">
                <%= post.title %>
              </h3>
              <div class="image">
                <%= attachment_image_tag post, :image, format: 'jpeg', fallback: "noimage2.jpg", size:'240x160', class: "image" %>
              </div>
              <div class="name-favorite">
                <%= post.user.nickname %>/
                ♥<%= post.favorites.count %> いいね
              </div>
              <div class="created_at">
                投稿日：<%= post.created_at.strftime('%Y/%m/%d') %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
 </div>
 <%= paginate @postspage %>
  <%= render 'layouts/footer' %>