  <%= stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery.raty', 'data-turbolinks-track': 'reload' %>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.raty.js"></script>
  <%= render 'layouts/header' %>



  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-5">
        <div class="favorite-btn">
          <%= render 'favorites/favorite-btn', post: @post %>
        </div>
          <div class="post-detail">
            <h3 class="post-title">
              <%= @post.title %>
            </h3>

            <div class="post-image">
              <%= link_to post_path(@post.id) do %>
                <%= attachment_image_tag @post, :image, format: 'jpeg', fallback: "no_image.jpg", size:'240x160', class: "image" %>
              <% end %>
            </div>

            <div class="post-pasa_name">
              都道府県名：  <%= @pasa.prefecture %><br>
              高速道路名：  <%= link_to @pasa.facility, pasa_path(@pasa.id) %><br>
              PA/SA名：  <%= @pasa.highway_name %><br>
            </div>

            <div class="post-genre_name">
              ジャンル：  <%= @genre.name %>
            </div>

            <!--清潔度 評価星の表示-->
            <div class="rate-cleanliness">清潔度
              <div id="star-rate-cleanliness<%= @post.id %>"></div>
                <script>
                $('#star-rate-cleanliness<%= @post.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= @post.cleanliness %>,
                });
                </script>
            </div>

            <!--混雑度 評価星の表示-->
            <div class="rate-congestion">混雑度
              <div id="star-rate-congestion<%= @post.id %>"></div>
                <script>
                $('#star-rate-congestion<%= @post.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= @post.congestion %>,
                });
                </script>
            </div>

            <!--満足度 評価星の表示-->
            <div class="rate-satisfaction">満足度
              <div id="star-rate-satisfaction<%= @post.id %>"></div>
                <script>
                $('#star-rate-satisfaction<%= @post.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= @post.satisfaction %>,
                });
                </script>
            </div>

            <div class="post-opinion">
              <%= @post.opinion %>
            </div>
            <div class="nickname">
              <%= @post.user.nickname %>
            </div>
            <div class="visit">
              訪問日：<%= @post.visit_time.strftime('%Y/%m/%d') %>
              （<%= @post.visit_weekday %>）
            </div>
            <div class="post-comments">
              <%= render 'comments/comments', comments: @post.comments %>
            </div>
              <%= render 'comments/comment_form',post: @post,comment: @comment %>


          </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>