  <%= stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery.raty', 'data-turbolinks-track': 'reload' %>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.raty.js"></script>
  <%= render 'layouts/header' %>

  <!--<div class="post-pasa_name">-->
  <!--  <%#= @pasa.facility %>-->
  <!--</div>-->

  <!--<div class="post-genre_name">-->
  <!--  <%#= @post.genre_name %>-->
  <!--</div>-->
<div class="favorite-btn">
  <%= render 'favorites/favorite-btn', post: @post %>
</div>
  <div class="post-detail">
    <h3 class="post-title">
      <%= @post.title %>
    </h3>

    <div class="post-image">
      <%= link_to post_path(@post.id) do %>
        <%= attachment_image_tag @post, :image, format: 'jpeg', fallback: "no_image.jpg", size:'240x160', class: "image" %>
      <% end %>
    </div>

    <!--<div class="post-prefecture">-->
    <!--  <%#= @post.prefecture %>-->
    <!--</div>-->

    <!--<div class="post-highway_name">-->
    <!--  <%#= @post.highway_name %>-->
    <!--</div>-->

    <!--<div class="post-facility">-->
    <!--  <%#= @post.facility %>-->
    <!--</div>-->

    <!--<div class="post-genre">-->
    <!--  <%#= @post.genre_name %>-->
    <!--</div>-->
    <!--<div id="star-rate-<%#= post.id %>"></div>-->
    <!--  <script>-->
    <!--  $('#star-rate-<%#= post.id %>').raty({-->
    <!--    size: 36,-->
    <!--    starOff:  '<%#= asset_path('star-off.png') %>',-->
    <!--    starOn : '<%#= asset_path('star-on.png') %>',-->
    <!--    readOnly: true,-->
    <!--    score: <%#= post.cleanliness %>,-->
    <!--  });-->
    <!--  </script> -->
    <!--<div class="post-cleanliness">-->
    <!--  <%#= @post.cleanliness %>-->
    <!--</div>-->

    <!--<div class="post-congestion">-->
    <!--  <%#= @post.congestion %>-->
    <!--</div>-->

    <!--<div class="post-satisfaction">-->
    <!--  <%#= @post.satisfaction %>-->
    <!--</div>-->

    <div class="post-opinion">
      <%= @post.opinion %>
    </div>
    <div class="post-comments">
      <%= render 'comments/comments', comments: @post.comments %>
    </div>
      <%= render 'comments/comment_form',post: @post,comment: @comment %>
    

  </div>