<!DOCTYPE html>
<html>
  <head>
    <title>PasaNavi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/6d1adad93a.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Reggae+One&family=RocknRoll+One&display=swap" rel="stylesheet">
  </head>
  <body>
    
    
    <%= yield %>
  </body>
</html>
